.App {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  height: 90vh;
}

.col {
  height: 100%;
  border: 1px solid gray;
  text-align: left;
}

.left {
  width: 200px;
}

.center {
  flex-grow: 1;
  min-width: 100px;
}

.right {
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .container {
    overflow-y: scroll;
  }
}
